/* Estilos dos formulários */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"], form input[type="tel"], form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

form button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #e55347;
}






/* Responsividade */
@media (max-width: 768px) {
    header .nav-links ul {
        display: none;
    }

    header .hamburger {
        display: block;
        color: #fff;
    }

    .container {
        padding: 0 15px;
    }

    .form-busca, .form-cadastro, .doacao, .dicas {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .info h1 {
        font-size: 2rem;
    }

    .dicas ul li {
        font-size: 0.9rem;
    }

    .doacao button {
        width: 100%;
    }
}
