/* === Estilos globais === */
body {
    font-family: 'Arial', sans-serif;
    position: relative;
    background-size: cover;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    background-color: rgba(29, 28, 28, 0.9); 
  }
  
  main {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 80px;
  }
  
  main h1, main h2 {
    color: #007BB5;
  }
  
  main .section-title {
    font-size: 1.2em;
    margin-top: 20px;
    color: #007BB5;
  }
  
  main .content {
    margin-bottom: 20px;
  }
  
  .btn-download {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
  }
  
  .btn-download:hover {
    background-color: #0056b3;
  }