/* === Estilo para formul치rios === */
form {
  width: 100%; 
  max-width: 900px;
  margin: 20px auto;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid #aaa; /* Alterado para borda mais sutil */
  opacity: 0;
  transform: scale(0.8); /* Inicialmente o formul치rio est치 com zoom out */
  transition: transform 1s ease, opacity 1s ease, border-color 0.3s ease;
}

form.zoom-in {
  opacity: 1;
  transform: scale(1); /* Zoom completo */
}

form.zoom-out {
  opacity: 0;
  transform: scale(0.8); /* Reduz o tamanho do formul치rio */
}


/* ===== Floating Label ===== */
.input-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-container input,
.input-container select,
.input-container textarea {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  background-color: white;
}

.input-container label {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: white;
  padding: 0 5px;
  color: #888;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container textarea:focus + label,
.input-container textarea:not(:placeholder-shown) + label,
.input-container select:focus + label,
.input-container select:valid + label {
  top: -10px;
  left: 8px;
  font-size: 12px;
  color: #007BFF;
}

.input-container input:focus,
.input-container select:focus,
.input-container textarea:focus {
  border-color: #007BFF;
}
/* ===== Fim floating label ===== */
