/* === Estilo para formulários === */
form {
  width: 100%; 
  max-width: 900px;
  margin: 20px auto;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid #aaa; /* Alterado para borda mais sutil */
  opacity: 0;
  transform: scale(0.8); /* Inicialmente o formulário está com zoom out */
  transition: transform 1s ease, opacity 1s ease, border-color 0.3s ease;
}

form.zoom-in {
  opacity: 1;
  transform: scale(1); /* Zoom completo */
}

form.zoom-out {
  opacity: 0;
  transform: scale(0.8); /* Reduz o tamanho do formulário */
}
