/* === Estilo do popup === */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Permite rolagem no fundo caso o conteúdo seja grande */
}

/* === Conteúdo do popup === */
.popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 600px;
  max-height: 80vh; /* Limita a altura do popup a 80% da altura da tela */
  overflow-y: auto; /* Ativa o scroll dentro do conteúdo do popup */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título do popup */
.popup-content h2 {
  margin-bottom: 1.8rem;
  font-size: 22px;
  color: #007BB5;
}

/* Parágrafos dentro do popup */
.popup-content p {
  font-size: 1rem;
  color: #333;
  margin: 10px 0;
}

/* Lista dentro do popup */
.popup ul {
  list-style-type: none;
  padding: 0;
}

/* Itens da lista dentro do popup */
.popup ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Botão de fechar */
.close-btn {
  background-color: #FF0000;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

/* Hover no botão de fechar */
.close-btn:hover {
  background-color: #007BB5;
}
