@media screen and (max-width: 768px) {
  /* Ajustes gerais para o formulário */
  #form-cadastro,
  input[type="text"], 
  input[type="tel"], 
  select, 
  button {
    width: 100%;
    max-width: 900px;
    font-size: 0.9rem;
    padding: 8px;
    align-items: left;
    text-align: left;
  }

  .form-row {
    flex-direction: column;
    gap: 10px;
  }

  .form-row div {
    margin-bottom: 10px;
  }

  button {
    padding: 12px 0;
    font-size: 1rem;
  }

  .checkbox-group {
    flex-direction: column;
    gap: 10px;
  }

  /* Ajustes na seção de informações */
  .info {
    padding: 20px;
  }

  .info h1 {
    font-size: 28px;
  }

  .info h4 {
    font-size: 18px;
  }

  .principal {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  
  .importancia-cadastro {
    padding: 20px 15px; /* Ajuste de padding para telas menores */
    margin-bottom: 30px; /* Menos espaço entre seções em dispositivos menores */
  }

  .importancia-cadastro h2 {
    font-size: 2rem; /* Menor tamanho de fonte em telas menores */
  }

  .importancia-cadastro p {
    font-size: 1rem; /* Ajuste no tamanho da fonte em telas pequenas */
  }

  /* Responsividade tabela */
  .table,
  .table tbody td,
  .table thead th,
  #navegacao button,
  #pagina-atual {
    font-size: 9px;
  }

  .table tbody td,
  .table thead th {
    padding: 5px;
  }

  #navegacao button {
    padding: 4px;
  }

  /* Responsividade menu de navegação */
  .nav-links {
    display: none;
    flex-direction: column;
    width: auto;
    background-color: #333;
    position: absolute;
    top: 100px;
    right: 0;
    padding: 10px 0;
    align-items: flex-end;
    transition: all 0.3s ease-in-out;
  }

  .hamburger {
    display: block;
  }

  .nav-links.active {
    display: flex;
  }

  /* Ajustes no menu em telas pequenas */
  .btn-action {
    font-size: 0.9em;
    padding: 10px 20px;
  }

  .menu-horizontal ul {
    flex-direction: column;
  }
}

/* Responsividade: ajuste para telas menores */
@media screen and (max-width: 768px) {
  .faq-section {
    padding: 15px; /* Diminui o padding em telas menores */
  }

  .faq-title {
    font-size: 22px; /* Ajusta o tamanho do título para telas pequenas */
  }

  .faq-question {
    font-size: 16px; /* Reduz o tamanho das perguntas para melhorar a legibilidade */
  }

  .faq-answer {
    font-size: 14px; /* Ajuste do tamanho da fonte das respostas */
  }
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  form, #form-cadastro, .feedback-container {
    width: 100%;
    padding: 15px;
  }

  .checkbox-group {
    flex-direction: column;
    gap: 20px;
  }

  .form-row {
    flex-direction: column;
  }

  .form-row div {
    width: 100%;
  }
}


/* === Responsividade (para telas pequenas) === */
@media (max-width: 768px) {
  /* Menu e logo ficam em colunas */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Ajuste para a exibição do menu hamburguer */
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
  }

  .nav-links a {
    padding: 15px 0;
    border-top: 1px solid #fff;
    width: 100%;
  }

  .nav-links a:hover {
    background-color: #333;
    color: #00B6FF;
  }

  .menu {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
