/* === Responsividade geral para telas menores que 768px === */
@media screen and (max-width: 768px) {
  /* Ajuste de layout geral para manter imagens acima do formulário */
  #article1 .cadastro {
    display: flex;
    flex-direction: column-reverse; /* Inverte a ordem dos elementos para exibir as imagens acima */
    gap: 20px; /* Espaço entre a imagem e o formulário */
    margin: 0 auto;
    padding: 20px; /* Ajuste de padding ao redor */
  }

  #form-cadastro,
  input[type="text"], 
  input[type="tel"], 
  select, 
  button {
    width: 100%;
    font-size: 0.9rem;
    padding: 8px;
    text-align: left;
  }

  .form-row {
    flex-direction: column;
    gap: 10px;
  }

  .form-row div {
    margin-bottom: 10px;
  }

  button {
    padding: 12px 0;
    font-size: 1rem;
  }

  .checkbox-group {
    flex-direction: column;
    gap: 10px;
  }

  /* Ajustes na seção de informações */
  .info {
    padding: 20px;
  }

  .info h1 {
    font-size: 28px;
  }

  .info h4 {
    font-size: 18px;
  }

  .principal {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  
  .importancia {
    padding: 20px 15px;
    margin-bottom: 30px;
  }

  .importancia h2 {
    font-size: 2rem;
  }

  .importancia p {
    font-size: 1rem;
  }

  /* Responsividade tabela */
  .table,
  .table tbody td,
  .table thead th,
  #navegacao button,
  #pagina-atual {
    font-size: 9px;
  }

  .table tbody td,
  .table thead th {
    padding: 5px;
  }

  #navegacao button {
    padding: 4px;
  }

  /* Responsividade menu de navegação */
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 100px;
    right: 0;
    padding: 10px 0;
    align-items: flex-end;
    transition: all 0.3s ease-in-out;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  /* Ajustes no menu em telas pequenas */
  .btn-action {
    font-size: 0.9em;
    padding: 10px 20px;
  }

  .menu-horizontal ul {
    flex-direction: column;
  }

  /* Responsividade do footer */
  .footer .container {
    text-align: center;
  }

  .footer ul {
    flex-direction: column;
    align-items: center;
  }

  .footer ul li {
    margin: 8px 0;
  }

  /* Responsividade da seção de FAQ */
  .faq-section {
    padding: 20px;
  }

  .faq-title {
    font-size: 1.8rem;
  }

  .faq-question {
    font-size: 1rem;
  }

  .faq-answer {
    font-size: 0.95rem;
  }

  /* Ajustando a largura da seção do feedback */
  .feedback-section,
  #feedback-form {
    width: 100%; /* A seção ocupa toda a largura da tela */
    max-width: 100%; /* Remover a largura máxima para ocupar toda a tela */
  }

  .feedback-img {
    max-width: 100%; /* A imagem ocupa toda a largura disponível */
    margin-left: 0; /* Remove o espaço entre o formulário e a imagem */
    margin-top: 20px; /* Ajusta o espaço entre o formulário e a imagem */
  }

  /* Ajustando a largura do campo de entrada */
  .form-row {
    flex-direction: column; /* Organiza os campos em uma coluna */
    gap: 10px; /* Reduz o espaço entre os campos */
  }

  .form-group input,
  .form-comment textarea {
    width: 100%;
  }

  /* Ajustando o botão */
  .btn-submit {
    width: 100%; /* O botão ocupa toda a largura disponível */
  }
}

/* === Responsividade para telas menores que 600px === */
@media (max-width: 600px) {
  .popup-content {
    width: 90%;
    padding: 15px;
  }

  .popup-content h2 {
    font-size: 20px;
  }

  .popup-content p {
    font-size: 0.9rem;
  }

  .popup ul li {
    font-size: 14px;
  }
}

/* === Responsividade para telas menores que 480px === */
@media (max-width: 480px) {
  .faq-title {
    font-size: 1.5rem;
  }

  .faq-question,
  .faq-answer {
    font-size: 0.9rem;
  }
}
