/* === Menu em telas pequenas === */
@media (max-width: 768px) {
  .info-card {
    width: 95%;
    max-width: 100%;
    padding: 15px;
  }

  form {
    padding: 15px;
  }

  .card-header h4 {
    font-size: 1.6em;
  }

  .card-body h5 {
    font-size: 1.2em;
  }

  .card-body p {
    font-size: 0.9em;
  }

  .btn-action {
    font-size: 0.9em;
    padding: 10px 20px;
  }


  .form-row {
    flex-direction: column;
    gap: 10px;
  }

  form input,
  form button {
    padding: 8px;
  }

  .menu-horizontal ul {
    flex-direction: column;
  }

  .checkbox-group {
    flex-direction: column;
    gap: 10px;
  }

  form input,
  form select {
    padding: 8px;
  }
}

@media (max-width: 600px) {
  .info-card {
    width: 95%;
    max-width: 100%;
    padding: 10px;
  }

  form {
    width: 100%;
    padding: 10px;
  }

  .table-container {
    width: 100%;
  }

  table th,
  table td {
    font-size: 11px;
    padding: 8px;
  }

  table {
    width: 100%;
  }
}