/* Estilo da tabela - Princ Table */
.table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-collapse: collapse;
  text-align: left;
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}

.table thead {
  background-color: #001b48;
  color: #fff;
}

.table thead th {
  padding: 8px;
  font-size: 12px;
  text-transform: uppercase;
}

.table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

.table tbody tr:hover {
  background-color: #e0e0e0;
}

.table tbody td {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ddd;
}

.table tbody td:nth-child(6) {
  text-align: center;
}


/* Responsividade para telas menores */
.table-responsive {
  display: none; /* para exibir a tabela apague */
  overflow-x: auto;
  width: 90%;
  max-width: 800px; /* Ajusta o tamanho máximo */
  margin: 0 auto; /* Centraliza a tabela responsiva */
}

.table-responsive::-webkit-scrollbar {
  height: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #001b48;
  border-radius: 4px;
}

.table-responsive::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Navegação da tabela */
#navegacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

#navegacao button {
  padding: 4px 8px;
  margin: 15px;
  border: none;
  background-color: #001b48;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

#navegacao button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#navegacao button:hover:not(:disabled) {
  background-color: #00B6FF;
}
